@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');
@import "anime.css";

body{
    height: 100vh;
    width: 14.5cm;
    background-color: rgb(236, 236, 133);
    font-family: 'Lato', sans-serif;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    top:0;
    opacity: 0.6;
}

.top-bar__left{
    width: 22%;
    display: flex;
    justify-content: space-around;
}

.top-bar__center{
    width: 33%;
    display: flex;
    justify-content: center;
}

.top-bar__right{
    display: flex;
    width: 22%;
    justify-content: space-around;
}

.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    font-size: 50pt;
}
.main-form{
    display: flex;
    flex-direction: column;
}

.main-input{
    height: 30px;
    background-color:rgb(236, 236, 133);
    margin: 5px 0;
    border-style: solid;
    border-radius: 15px;
}

.main-input-btn{
    margin: 20px 0 ;
    border-style: none;
    background-color: tomato;
    border-radius: 15px;
}

.main-input-btn:hover{
    background-color: red;
}

.main-form__text{
    font-size: small;
    opacity: 0.6;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.main-form__text-one{
    margin-top: 40px;
}

.main-form__warming{
    color: tomato;
}

.main-form__text-second{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px 0px;
}
.index-body{
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: index-screen ease-in-out 2s forwards;
}

.index-icon{
    color: white;
    position: relative;
}


.index-div{
    font-size: 17pt;
    position: absolute;
    width: 7cm;
    height: 1.5cm;
    background-color: rgb(236, 236, 133);
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: tomato;
    border-style: solid;
    color: black
}

@keyframes index-screen{
    0%{opacity: 1;}
    100%{opacity: 0;
    visibility: hidden;}
}

#no-mobile{
    position: absolute;
    z-index: 99;
    height: 100vh;
    background-color: greenyellow;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    top: 0;

}

@media screen and (max-width: 16cm) {
 #no-mobile{
     display: none;
 }
}
